# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eth_btc
DB_USER=user
DB_PASSWORD=password

# Для Docker
DB_URL=postgresql+asyncpg://user:password@db:5432/eth_btc

# Logging
LOG_LEVEL=INFO

# Binance
BINANCE_WS_URL=wss://stream.binance.com:9443/ws